@import './_imports.scss';
@import './_colors.scss';
@import './_footer-desktop';
@import './_animations';
@import './_container-desktop';

*
{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: $veryDarkBlue;
    height: 100vh;
    position: relative;
}

[hidden]
{
    display: none !important;
}