@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
.attribution {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 30px;
  font-size: 20px;
  color: white;
  line-height: 40px;
  text-align: right;
}

.attribution a {
  color: #959eac;
}

.attribution a:visited {
  color: #7c8798;
}

@-webkit-keyframes hide-div {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-div {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show-div {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-div {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#252d37), to(#121417));
  background: linear-gradient(180deg, #252d37 0%, #121417 100%);
  max-width: 400px;
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  color: white;
  margin: 5% 0;
  font-size: 700;
}

main h3 {
  color: #959eac;
  font-size: 15px;
  font-weight: 400;
}

main #rating label {
  background-color: #252d37;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  color: #7c8798;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

main #rating img {
  padding: 2vh;
  width: 2vh;
  height: 2vh;
  background-color: #252d37;
  border-radius: 50%;
}

main #rating #submit-button {
  width: 100%;
  height: 6vh;
  margin: 5% 0;
  border-radius: 3vh;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  background-color: #fb7413;
  color: white;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
  border: none;
}

main #rating #submit-button:hover {
  color: #fb7413;
  background-color: white;
}

main #rating #input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5% 0;
}

main #rating #input-container label:hover {
  background-color: orange;
  color: white;
}

main #rating #input-container input[type="radio"]:checked + label {
  background-color: #7c8798;
  color: white;
}

main #thank-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main #thank-you #your-rating {
  color: #fb7413;
  background-color: #252d37;
  line-height: 25px;
  padding: 0 2vh;
  margin: 5% 0;
  font-size: 15px;
  border-radius: 3.5vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

body {
  background-color: #121417;
  height: 100vh;
  position: relative;
}

[hidden] {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */